* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #0067a3;
  color: #fff;
  padding: 7px;
  text-align: center;
  width: 100%;
}

section {
  /*outline: 1px solid white;*/
  box-sizing: border-box;
  height: auto;
  margin: 14px;
  width: 100%;
  overflow: auto;
}

body {
  background: #0079bf;
}

.img {
  width: 80px;
}

.subtitle {
  color: #fff; 
  margin-bottom: 21px;
}

#tab {
  box-sizing: border-box;
  display: inline-block;
}

.tab-js {
  background: #e2e4e6;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  margin-top: 7px;
  padding: 6px;
  width: 275px;
}

.item {
  box-sizing: border-box;
  border-style: none;
  border-radius: 5px;
  background-color: #0067a3;
  display: block;
  font-size: 14px; 
  margin-top: 7px;
  outline: none;
  padding: 10px;
  width: 260px;
}

.item:hover {
  background: #005485;
  cursor: pointer;
}

.item::-webkit-input-placeholder {
  color: #fff;
}

.save-js {
  background: #5aac44;
  border-style: none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-top: 7px;
  outline: none;
  padding: 7px;
}

.item-js {
  background: #d6d8da;
  border: 1px solid gray;
  border-radius: 5px;
}

.item-js::-webkit-input-placeholder {
  color: gray;
}

.item-js:hover {
  background: #d6d8da;
  cursor: text;
}

.container-js {
  background: #e2e4e6;
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
  height: auto;
  margin-top: 7px;
  margin-right: 12px;
  padding: 9px 0 0 0;
  width: 275px;
}

.list-name-js {
  color: #333333;
  font-size: 14px;
  margin-left: 7px;
}

.card-js {
  background: #e2e4e6;
  box-sizing: border-box;
  border-style: none;
  border-radius: 5px;
  margin-top: 7px;
  outline: none;
  padding: 8px;
  width: 275px;
}

.card-js:hover {
  background: #cdd2d4;
  cursor: pointer;
}

.card-js:hover::-webkit-input-placeholder {
  text-decoration: underline;
}